/* Florence Twumasi-Ankrah - 16424857 */


/* all the headings before the '{}' sign, ensures that the css style, can be shown based on the heading also, shown in the HTML files */


/* Google webfonts API used below*/

body {
    font-family: 'Arima Madurai', cursive;
    font-size: 14px;
    background-color: lightgrey;
    padding-top: 10px;
}

.wrapper {
    width: auto;
    background: white;
    margin: 0 auto;
    /* adds a barrier for the text, against the wrapper */
}

.heading {
    font-size: 20px;
    height: 140px;
    background: #800020;
    /* Hex colour codes where taken from online. rapidtables.com */
    padding: 10px;
    text-align: center;
    /* used to ensure that the text is layed out in the correct part of the page, as so */
}


/* img - float allows text or images to move and stay in the direction specified*/

img {
    display: block;
    float: right;
    width: 160px;
    height: 200px;
}

.navigation {
    height: 50px;
    background: #800020;
    text-align: center;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.content {
    min-height: 500px;
    background: white;
    width: 100%;
    float: left;
}

.contentcontact {
    margin: 50px;
    width: auto;
    text-align: center;
}

form div {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    padding: 5px;
}

label {
    display: inline-block;
    text-align: right;
    font-size: 18px;
}


/* the following headings - input, textare and legend, are part of the form i created, and ensure that the texted are alligned, and centred */

s input, textarea {
    width: 300px;
}

textarea {
    height: 150px;
}

legend {
    font-size: 18px;
}

.content h1 {
    margin: 50px;
}

.content h3 {
    margin: 50px;
}

.footer {
    clear: both;
    background: #800020;
    height: 100px;
    text-align: center;
    padding: 10px;
    color: white;
}


/* used the id tag, which specifies which part i will use css on from the html, file. */

#menu {
    width: 550px;
    height: 35px;
    font-size: 30px;
    text-align: center;
}

#menu ul {
    text-align: center;
    height: auto;
    padding: 6px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding: 6px;
    margin-right: 20px;
}

#menu ul li a:hover {
    background-color: grey;
}

#socialmedia ul li {
    padding: 6px;
    margin: 0px;
    display: inline-block;
    float: left;
}

#socialmedia img {
    width: 70px;
    height: 60px;
}

.contentindex {
    font-size: 18px;
    margin: 40px;
    text-align: center;
    padding: 5px;
}

.content img {
    padding-left: 30px;
    margin: 30px;
    width: auto;
    height: 200px;
}

.contentbio p {
    text-align: center;
    font-size: 24px;
}

.contentcv {
    padding-left: 0px;
    margin: 10px;
}

.contentindex img {
    width: 200px;
    height: 350px;
}
